@import "./common"
@import "./ui/animations"

body
  background: #313439

#lightbox
  .lb-outerContainer
    background-color: #313439
    .lb-container
      background-color: #313439
      padding: 0

.container
  text-align: center
  padding: 0
  height: 100%

.inputForm, .result
  display: inline-block

.submit, .reset
  margin: 0 0 0 5px

.canvas-container
  background-color: rgba(0, 0, 0, 0.3)
  padding: 15px
  z-index: 1;
  margin-top: 40px
  display: inline-flex
  border: solid 1px #d1d4d9

.the-canvas
  max-width: 480px

.origin-container
  position: fixed
  .origin
    width: 100%
    height: 100%
    display: block
  .back
    margin: 5px 0 0 0
    display: block

.images
  list-style: none
  font-size: 0
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .item
    display: inline-block
    margin: 5px 3px
    flex-grow: 1
    background-color: rgba(0, 0, 0, 0.3)
    box-shadow: 0 0 1px #000
    border: solid 1px #d1d4d9
    .result-container
      width: 100%
      text-align: center
      .result-img
        margin-top: 15px
        margin-left: 1px
        margin-right: 1px
        border: solid 1px #e9efd1
        max-height: 200px
      .result-legend
        display: block
        font-size: 12px
        color: #f1f4f9
        margin: 1px 0
        vertical-align: middle

.row
  margin-top: 40px
